[Desktop Entry]
Version=13.0
Type=Application
Terminal=false
Icon[en_US]=/home/%USER%/apps/idea/bin/idea.png
Name[en_US]=IntelliJ
Exec=/home/%USER%/apps/idea/bin/idea
Name=IntelliJ
Icon=/home/%USER%/apps/idea/bin/idea.png
