[Desktop Entry]
Type=Application
Terminal=false
Exec=/home/%USER%/apps/vmpk/vmpk.AppImage
Name=VMPK
Categories=AudioVideo;X-AudioEditing;Audio;Recorder;Piano;
Icon=/home/%USER%/apps/vmpk/vmpk.png
